// ==========================================================================
// Container
// ==========================================================================

.footer-section {
	padding   : em(5px) 0;
	border-top: 1px solid palette(grey);
	margin-top: 10%;
	@include e(content) {
		margin:0;
	}
}